.comment {
	border: 1px solid #ADADAD;
	padding: 0px;
	margin: 2px;
}

.CMixMenu {
	margin: 0 0 0 40px;
}

#sectionSoundCloud{
margin: 0 15px 25px 15px;
}

#sectionTimeline{
margin: 0 15px 70px 15px;
}
ul{
	margin:0; padding:0; 
}	
body {
font-family: Arial;
 margin:0; padding:0; 
}
a:link {color: #707070; text-decoration:none;}
a:visited {color: #707070; text-decoration:none;}
a:hover {color: #cccccc; text-decoration:none;}
a:active {color: #cccccc; text-decoration:none;}
.interface {
color: white;
font-size: 13px;
font-weight: bold;
}
.button {
cursor: pointer;
}
#mytimeline {
  margin:20px;
}
#critButtons {
float: left;
}
#critButtons li{
display: inline;
list-style-type: none;
padding: 10px;
background-color: blue;
margin: 0px;
}
#critButtons li:hover {
background-color: grey;
}
#controlButtons {
float: left;
}
#controlButtons li{
display: inline;
list-style-type: none;
padding: 10px;
background-color: purple;
}
#controlButtons li:hover {
background-color: grey;
}
#saveButton {
float: left;
}
#saveButton li:hover {
background-color: grey;
}
#saveButton li{
display: inline;
list-style-type: none;
padding: 10px;
background-color: red;
}
nav {
	background-color:#141414;
	height: 30px;
	padding-top: 15px;
	border-bottom: 2px solid #ADADAD;
}
#site_nav {
color:white;
font-weight: bold;
}
#site_nav li {
display: inline;
list-style-type: none;
margin: 10px 5px 5px 15px;
}


#positionIndicator{
	float:left;
}
#positionIndicator li{
	display: inline;
list-style-type: none;
padding: 10px;
background-color: purple;
}
#holder_seconds {
background-color: purple;

}