{% load staticfiles %}
<html>
<head>

<style type="text/css">
body {
font-family: Arial;
}
.button {
color: white;
background-color: blue;

font-size: 13px;
font-weight: bold;

}
#mytimeline {
  margin:20px;
}
#critButtons li{
  display: inline;
list-style-type: none;

padding: 10px;
}

#button_save {
  color:white;
  background-color: red;
  font-weight: bold;
}
</style>


<script src="http:////ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
<!-- SoundCloud -->
<script src="http://connect.soundcloud.com/sdk.js"></script>
<script src="http://w.soundcloud.com/player/api.js" type="text/javascript"></script>
<!-- Almende Timeline -->
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script src="{% static "timeline-2.3.2/timeline.js" %}" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="{% static "timeline-2.3.2/timeline.css" %}">

<script type="text/javascript">
///*
function savecrits(txt) {
  
  $.getJSON("/savecrits/", { pk:9, jsonData: txt }, function(json){
    alert("Was successful?: " + json['success']);
  });
}
//*/

///*
function addClickHandlers() {
  $("#button_save").click( function() { 
    savecrits("qwe");
  });
}
//*/

///*
$(document).ready(addClickHandlers);
//*/

var timeline;
var critList = new Object(); // doesn't work when placed in document.ready, weird!
var rud ;

/*
0 mix too muddy
10 bass too muddy 11 mids too muddy 12 treble too muddy
20 vocals 21 kick 22 snare 23 subbass
30 transition
*/

function makeCrit(id, critType, timePosition, comment) {
  //$('#critsHolder').append(timePosition + " " + critType + " " + comment + "</br>");
  console.log(timePosition + " " + critType + " " + comment);
  critList[randomID] = {
    id: id,
    critType: critType,
    timePosition: timePosition,
    comment: comment
  } 



$(".critType" + critType).effect("highlight");
//$(".critType" + critType).effect("bounce"); // looks whack

var props = {
'start': new Date(2012,5,2,0,0,timePosition),
'content': comment
};

  timeline.addItem(props); // properties is an Object, containing parameters start (Date), end (Date), content (String), group (String). Parameters end and group are optional.


} //func makeCrit

$(document).ready(function() {

var iframeElement   = document.querySelector('iframe');
//var iframeElementID = iframeElement.id;
var widget        = SC.Widget(iframeElement);
//var widget2         = SC.Widget(iframeElementID);
console.log(iframeElement);
//console.log(iframeElementID);
console.log(widget);
//console.log(widget2);


widget.bind(SC.Widget.Events.READY, function() {

  console.log(SC.Widget.Events.PLAY_PROGRESS.currentPosition);

  widget.bind(SC.Widget.Events.PLAY, function() {
    // get information about currently playing sound
    widget.getCurrentSound(function(currentSound) { 
      console.log('sound ' + currentSound.get('') + 'began to play');
    });
  });

  // get current level of volume
  widget.getVolume(function(volume) {
    console.log('current volume value is ' + volume);
  });

  // set new volume level
  widget.setVolume(50);

  // get the value of the current position
   widget.getPosition(function(position) {
    console.log('current position value is ' + position);
    $('#holder_seconds').text(position);
  });


rud = widget.getDuration(function(duration, rud) {
  rud = duration ;
  console.log('current duration value is ' + rud); 
  return duration ;
});
console.log("rud1 " + rud);
//console.log("rud1 " +  widget.getDuration()  );


});

      //google.load("visualization", "1");
      
      // Set callback to run when API is loaded
      google.setOnLoadCallback(drawVisualization); 

      // Called when the Visualization API is loaded.
      function drawVisualization() {
chee = new Date(2012,5,1,0,0);
        var data = [ {{ jsonData|safe }} ];



//alert("{{ jsonData|safe }}");
/*
chee1 = new Date(2012,5,2,0,1,45);
data.push({
  'start': new Date(2012,5,2,0,1,45),
  //'end': new Date(2010, 8, 2),  // end is optional
  'content': chee1 + "<br/>Criticism #2"
  // Optional: a parameter 'group'
  // Optional: a parameter 'className'
});

chee2 = new Date(2012,5,2,0,2,0);
data.push({
  'start': new Date(2012,5,2,0,2,0),
  //'end': new Date(2010, 8, 2),  // end is optional
  'content': chee2 + "<br/>Criticism #3"
  // Optional: a parameter 'group'
  // Optional: a parameter 'className'
});
*/

        // specify options
        // Date(year, month, day, hours, minutes, seconds, milliseconds)
        var options = {
          "axisOnTop": true,
          "editable": true,
          "width":  "100%", 
          "height": "300px", 
          "style": "box",
          "intervalMin": {{ duration }},
          "intervalMax": {{ duration }},
          "min": new Date(2012, 5, 2,0,0,0), // 
          "max": new Date(2012, 5, 2,0,0,{{ duration }}/1000),
          "showCustomTime": true,
          "boxAlign": "left"
          //"scale": "SCALE.YEAR",
          //"step": "5",
          //"zoomable": true,
        };

        // Instantiate our timeline object.
        timeline = new links.Timeline(document.getElementById('mytimeline'));
        
        // Draw our timeline with the created data and options 
        timeline.draw(data, options);
        //timeline.deleteAllItems(); // works
        //timeline.setScale(SCALE.MINUTES, 2);
        timeline.setScale(links.Timeline.StepDate.SCALE.SECOND, 15);

       
      }



widget.bind(SC.Widget.Events.PLAY_PROGRESS, function(currentPosition) {
var secs = currentPosition.currentPosition/1000 ;
$('#holder_seconds').text(secs); // works
timeline.setCustomTime(new Date(2012,5,2,0,0,0,currentPosition.currentPosition));
//$('#holder_seconds').text( $('.timeIndicator__current').text() ); // span becomes blank
}); // PLAY_PROGRESS

document.addEventListener('keyup', function(event) { //http://stackoverflow.com/questions/1349404/generate-a-string-of-5-random-characters-in-javascript/8084248#8084248
  console.log("event.keyCode " + event.keyCode)
    randomID = Math.random().toString(36).substr(2, 5) ;
    while (critList[randomID]) { // if there's already a Crit with that ID, generate a new randomID
      randomID = Math.random().toString(36).substr(2, 5) ;
    }
    currTime = $('#holder_seconds').text()

    switch (event.keyCode) {
      case 65:
        critType = 20;
        break;
      case 83:
        critType = 10;
        break;
      default:
        return false;
        break;
    }

    switch (critType) {
      case 20:
        // makeCrit(id, critType, timePosition, comment)
        makeCrit(randomID, 20, currTime, 'Vocals Unclear')
        break;
      case 10:
        makeCrit(randomID, 10, currTime, 'Bass Unclear')
        break;
      default:
        return false;
        break;
        
    }
});



}); // .ready



</script>

</head>
<body>

<h1>{{ critmix.mix_url }}</h1>

<div id="SCholder">{{ embed_info|safe }}</div>
<div id="holder_seconds">Position: <span id="sec">test1</span></div>
<br/><br/><br/>
<div>

<ul id="critButtons">
<li id="" class="button critType20">(A) Vocals Unclear</li>
<li id="" class="button critType10">(S) Bass Unclear</li>
<li id="" class="button">(D) Mids Unclear</li>
<li id="" class="button">(F) Treble Unclear</li>
<li id="" class="button">(G) Go 5 Seconds Back</li>

<li id="" class="button">(H) Go 5 Seconds Forward</li>
<li id="" class="button">(J) Kick Drum</li>
<li id="" class="button">(K) Snare Drum</li>
<li id="" class="button">(L) Section Transition</li>
<li id="" class="button">(;) Subbass</li>
</ul>

</div>

<div id="critsHolder">

</div>

<div id="mytimeline"></div>

<span id="button_save">SAVE</span>

</body>
</html>