{% extends "critmixes/base.html" %}

{% load staticfiles %}

{% block content %}  

<section id="sectionSoundCloud">
<h1><a href="{{ critmix }}" target="_blank">{{ title }} <span style="color: #999999">by</span> {{artist}}</a></h1>

<div id="SCholder">{{ embed_info|safe }}</div>
<div>
</section>

<section id="sectionTimeline">
<ul class="CMixMenu" id="critButtons">
<li id="" class="button critType20">(A) VOCALS</li>
<li id="" class="button critType10">(S) BASS</li>
<li id="" class="button critType11">(D) MID</li>
<li id="" class="button critType12">(F) TREBLE</li>

<!--
<li id="" class="button">(J) Kick Drum</li>
<li id="" class="button">(K) Snare Drum</li>
<li id="" class="button">(L) Section Transition</li>
<li id="" class="button">(;) Subbass</li>
-->
</ul>
<ul class="CMixMenu" id="controlButtons">
<li id="" class="button">BACKWARD</li>
<li id="" class="button">PLAY PAUSE</li>
<li id="" class="button">FOWARD</li>
<li id="" class="button">POSITION: <span id="holder_seconds">0.0</span></li>
</ul>
<ul class="CMixMenu" id="saveButton">
<li id="button_save" class="button">SAVE</li>
</ul>

</div>

<div id="critsHolder">

</div>

<div id="mytimeline"></div>
</section>

{% endblock %}