{% extends "critmixes/base.html" %}

{% load staticfiles %}

{% block content %}  

<section id="sectionSoundCloud">
<h1><a href="{{ critmix }}" target="_blank">{{ title }} <span style="color: #999999">by</span> {{artist}}</a></h1>

<div id="SCholder">{{ embed_info|safe }}</div>
<div>
</section>

<section id="sectionTimeline">
<ul class="CMixMenu" id="critButtons">
<li id="" class="button interface critType20">(A) VOCALS</li>
<li id="" class="button interface critType10">(S) BASS</li>
<li id="" class="button interface critType11">(D) MID</li>
<li id="" class="button interface critType12">(F) TREBLE</li>
</ul>
<ul class="CMixMenu" id="saveButton">
<li id="button_save" class="button interface">SAVE</li>
</ul>
<ul class="CMixMenu" id="controlButtons">
<li id="" class="button interface">&lt;&lt;</li>
<li id="" class="button interface">PLAY PAUSE</li>
<li id="" class="button interface">&gt;&gt;</li>
</ul>
<ul class="CMixMenu" id="positionIndicator">
<li id="" class="interface">POSITION: <span id="holder_seconds">0.0</spn></li>
</ul>


</div>

<div id="critsHolder">

</div>

<div id="mytimeline"></div>
</section>

{% endblock %}