{% extends "site/base.html" %}

{% load staticfiles %}

{% block content %}  
<h1>
About CritMix.com
</h1>
<p>CritMix is a passion project by Brent Labasan. You can contact him at BrentLabasan@gmail.com.</p>
<h2>FAQ</h2>
<p>Why don't you just have people use the SoundCloud comments to critique a song's mix?</p>
<ol>
	<li>Most people don't know how to properly critique a mix. But if you give them predefined critiques (bass too muddy, vocals too loud) they can easily help make a song sound better.</li>
	<li>Comments can be used for anything (blog promotion, generic praise, SPAM). CritMix helps artists focus on the problems with their songs' mix.</li>
</ol>
{% endblock %}