{% extends "site/base.html" %}

{% load staticfiles %}

{% block content %}  
<h1>
Get Your Song Critiqued
</h1>
<p>The interface for letting the public to get their song critiqued is a current work in progress.</p>
<ol>
	<li>An artist inputs the SoundCloud URL of their song.</li>
	<li>A CritMix URL is generated for that song.</li>
	<li>Artist sends that CritMix URL to people he wants to critique the song.</li>
	<li>Each person's critique has a unique URL. They are asked to provide their name when critiquing, for identifications purposes.</li>
	<li>The artist is shown a table showing all the unique urls.</li>
</ol>
<br/><br/><br/>
<h2>Enter your SoundCloud song's URL into the box below!</h2>
<p>You will receive a URL that lets people critique your song, and a list of critiques that people have already made on your song.</p>
<form>
SoundCloud URL: <input type="text" name="SCURL">
<br>
<input type="submit" value="Submit">
</form>
<br/><br/><br/>
Send this URL to people who you want to critique your mix!
<section>example URL</section>
<section>SHARING BUTTONS (Facebook, Twitter, Email, etc...)</section>
<br/><br/><br/>
<section>
EXAMPLE CRITMIX URL #1 by John Doe
<br/>
EXAMPLE CRITMIX URL #2 by John Doe
</section>

{% endblock %}